<!doctype html>
<html ng-app="myApp">
    <head>
        <link rel="stylesheet" href="/vendor/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">


        <script type="text/javascript" src="/vendor/angular/angular.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-animate/angular-animate.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-aria/angular-aria.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-material/angular-material.min.js"></script>

        <script type="text/javascript" src="/javascripts/app.min.js"></script>

        <script type="text/javascript" src="/javascripts/controllers/home.min.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/cat.min.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/dog.min.js"></script>
    </head>

    <body>
        <div>
            <ul class="nav">
                <li><a href="#home">    
                    <md-content>
                        <md-button class="md-raised md-primary" id="button1">Home</md-button>
                    </md-content>
                </a></li>
                <li><a href="#cat">
                 <md-content>
                        <md-button class="md-raised md-primary">Cat</md-button>
                    </md-content>
                </a></li>
                <li><a href="#dog">
                 <md-content>
                        <md-button class="md-raised md-primary">Dog</md-button>
                    </md-content>
                </a></li>
            </ul>
        </div>

        <div class='main'>
            <main ng-view></main>
        </div>
    </body>
</html>